@page "/login"
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer
@inject AuthenticationStateProvider AuthStateProvider
@inject IJSRuntime JSRuntime


<PageTitle>Login</PageTitle>

<div class="container mx-auto text-center mt-5">
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger">@errorMessage</div>
    }

    @* Llamamos a OnSubmit que es el método de tu C# *@
    <EditForm Model="@loginModel" OnValidSubmit="OnSubmit">
        <DataAnnotationsValidator />

        <div class="mb-3">
            <label class="form-label">Email:</label>
            <InputText @bind-Value="loginModel.Usuario" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">Password:</label>
            <InputText @bind-Value="loginModel.Password" type="password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Entrar 🚀</button>
    </EditForm>
</div>