@page "/login"
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer
@inject AuthenticationStateProvider AuthStateProvider
@inject IJSRuntime JSRuntime


<PageTitle>Login</PageTitle>

<MudLayout>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Small" Class="mt-10">
            <MudGrid  Justify="Justify.Center">
                <MudItem xs="12">
                    <MudText Align="Align.Left" Typo="Typo.h3" Class="mb-4">Login</MudText>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField @bind-Value="loginModel.Usuario"
                                  Label="Usuario 🧢"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Normal"
                                  For="@(() => loginModel.Usuario)" />

                    <MudTextField @bind-Value="loginModel.Password"
                                  InputType="InputType.Password"
                                  Label="Password  🔑"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Normal"
                                  For="@(() => loginModel.Password)" />
                </MudItem>
                <MudItem xs="12" Class="d-flex justify-center mt-4">
                    <MudButton Variant="Variant.Filled" Size="Size.Large" Color="Color.Primary" @onclick="OnSubmit">¡Vamos!</MudButton>
                </MudItem>
            </MudGrid>
        </MudContainer>
    </MudMainContent>
</MudLayout>


@* <div class="container mx-auto text-center mt-5">
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger">@errorMessage</div>
    }

    @* Llamamos a OnSubmit que es el método de tu C# *@
@* <EditForm Model="@loginModel" OnValidSubmit="OnSubmit">
        <DataAnnotationsValidator />

        <div class="mb-3">
            <label class="form-label">Email:</label>
            <InputText @bind-Value="loginModel.Usuario" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">Password:</label>
            <InputText @bind-Value="loginModel.Password" type="password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Entrar 🚀</button>
    </EditForm>
</div> *@