@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<!-- Contenedor principal donde irá toda la información -->
<div class="container divInformacionPaginaPrincipal mx-auto text-center">
    <h1>Contabilidad de casa</h1>
    <p>By Raul Blanco Segura.</p>
    <button class="btn btn-primary" @onclick="IrAPagina">¡Vamos!</button>
</div>